.star-rating-wrapper {
  width: auto;
  height: auto;
  padding: 4em 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  
  overflow: hidden;
  background: #e7e9fa;
}

.star-rating-title {
  text-align: center;
  font-size: 2.5em;
}

.star-rating-stars-wrapper {
  width: 90vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.star-rating-star {
  width: 10%;
  min-width: 40px;
  height: auto;
}

.star-rating-inactive {
  color: #c6d2e2;
}

.star-rating-active {
  color: #fcca1c;
}

.star-rating-message {
  max-width: 675px;
  font-size: 1.125em;
  text-align: center;
}
