.sortable-list-wrapper {
  display: flex;
  flex-direction: column;
  padding: 5%;  
  background-color: #EFF6FF;
}

.sortable-list-title {
  font-size: 2.5em;
  color: #0D2167;
}

.sortable-list-wrapper-inside {
  margin-top: 2em;
  padding: 2em;
  border-radius: 3%;
  background-color: white;
}

.sortable-list-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.sortable-list-search-wrapper {
  position: relative;
}

.sortable-list-search {
  width: calc(100% - 2em);
  padding: 1em;
  border: none;
  border-radius: 5px;
  border-color: transparent;
  outline: none;
}

.sortable-list-search, .sortable-list-search::placeholder, .sortable-list-search-arrow {
  font-size: 1em;
  background-color: #F7F7FA;
  color: #5A6793;
}

.sortable-list-search-arrow {
  position: absolute;
  right: 1em;
  top: calc(50% - 8px);
  z-index: 10;
}

.sortable-list-options {
  list-style: none;
  font-size: 0.875em; 
  
  
  padding: 0.5em 0;
  border: none;
  border-radius: 5px;
  border-color: transparent;
  outline: none;
  background-color: #F7F7FA;
  color: #5A6793;
}

.sortable-list-options-item {
  padding: 0.3em 1em;
}

.sortable-list-options-item:hover {
  background-color: #E3E5F1
}

.sortable-list-option-selected {
  background-color: #0D2167;
  color: white;
}

.sortable-list-option:disabled {
  background-color: #E5E7EB;
  color: #9CA3AF;
}