* {
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #171717;
}

.wrapper {
  width: auto;
  height: auto;
  padding: 4em 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  
  overflow: hidden;
  background: #e7e9fa;
}

.title {
  text-align: center;
  font-size: 2.5em;
}

.stars-wrapper {
  width: 90vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.star {
  width: 10%;
  min-width: 40px;
  height: auto;
}

.inactive {
  color: #c6d2e2;
}

.active {
  color: #fcca1c;
}

.message {
  max-width: 675px;
  font-size: 1.125em;
  text-align: center;
}
