* {
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #171717;
}

.wrapper {
  width: 90vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  background: #e7e9fa;
}

.star {
  width: 10%;
  height: auto;
}

.inactive {
  color: #c6d2e2;
}

.active {
  color: #fcca1c;
}
